<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Andalucia Restaura by Hotehub</title>
</head>
<body>
    <header>
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <p className="navbar-item " href="#">
                    <NavLink to="/">
                        <img src="https://cdn.discordapp.com/attachments/451551902186995713/713100395819434024/WhatsApp_Image_2020-05-21_at_20.42.20_1.jpeg" width="200" height="50" />
                    </NavLink>
                </p>
            </div>
            <div className="navbar-brand">
                <a >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div>
                <div className="navbar-end">
                    <div className="navbar-item">
                        <div className="buttons">
                            <NavLink to="/login">
                                <p className="button">Log in</p>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <hr />
    {% if id_carta %}
        <ul>
            <li><a href="">{{ id_carta }}</a></li>
        </ul>
    {% else %}
        <p>No hay carta.</p>
    {% endif %}
    <object data="{% static 'clientes/{{ id_carta }}/free.pdf'%}" type="application/pdf">
        <iframe src="https://docs.google.com/viewer?url=your_url_to_pdf&embedded=true"></iframe>
    </object>
</body>
</html>
<!--<object data="http://127.0.0.1:8000/static/free.pdf" type="application/pdf">
  <object data="{% static 'clientes/{{ id_carta }}/free.pdf'%}" type="application/pdf">
